### Из файла Activity Table, требуется добыть информацию о количестве конверсий по каждому байеру, чтобы установить соответствие с количеством конверсий в отчете из другого источника
Данные в этом скриптe искусственные и не содержат конфиденциальной информации

In [105]:
import pandas as pd
import re

Название файла при скачивании имеет всегда вид Activity table ({номер_таблицы}).csv

In [112]:
# Создание переменной, содержащей путь к файлу
filepath = '/Users/emiliamaul/Documents/GitHub/Syndicate-Group/Activity table (18).csv'

Файл всегда содержит в себе 5 столбцов, и 2 уровня названия столбцов, поэтому файл считывается без первой строчки

In [113]:
# Чтение файла
activity = pd.read_csv(filepath, sep=';', header=1)
activity.head()

,Unnamed: 0,Unnamed: 1,Conversion Count,Average Daily Unique Users,Revenue
0,appcom_000_offer1_app_geo_platform_offer1_team...,22339024008894300,3,3,"300,00 $"
1,appcom_111_offer2_app_geo_platform_offer3_team...,18314123353604800,5,5,"410,00 $"
2,appcom_22_offer3_app_geo_platform_offer5_team122,16481202959859600,5,5,"410,00 $"
3,appcom_333_offer2_app_geo_platform_offer4_team...,609231875640264,7,7,"180,00 $"
4,appcom_000_offer1_app_geo_platform_offer1_team...,20535349045617300,2,2,"150,00 $"

In [114]:
# Отбор необходимых столбцов и их переименование в наиболее удобный формат
activity = activity.rename(columns={
                        'Unnamed: 0':'buyer', 
                        'Conversion Count':'event_counter'
                        })[['buyer', 'event_counter']]
activity.head()

                                               buyer  event_counter
0  appcom_000_offer1_app_geo_platform_offer1_team...              3
1  appcom_111_offer2_app_geo_platform_offer3_team...              5
2   appcom_22_offer3_app_geo_platform_offer5_team122              5
3  appcom_333_offer2_app_geo_platform_offer4_team...              7
4  appcom_000_offer1_app_geo_platform_offer1_team...              2

In [115]:
# В столбце buyer содержится полное название кампании, оттуда необходимо извлечь только номер байера
activity['buyer'] = activity['buyer'].str.split("_", n=2, expand=True)[1]
activity.head()

  buyer  event_counter
0   000              3
1   111              5
2    22              5
3   333              7
4   000              2

In [116]:
# В завершение необходимо подсчитать количество конверсий для каждого байера
activity = activity \
                .groupby('buyer', as_index=False) \
                .agg({'event_counter':'sum'})
activity

  buyer  event_counter
0   000              6
1   111              5
2    22              5
3   333             15
4   444             12

In [118]:
# Сохранение файла в формате csv в выбранную папку
new_file_name = re.sub(r'[\(\)]', '', filepath.split("/")[-1])
activity.to_csv(f'/Users/emiliamaul/Documents/GitHub/Syndicate-Group/{new_file_name}', index=False)